.multiselect {
  width: 200px;
  position: relative;
}

.selectBox {
  position: relative;

}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  position: absolute;
  display: none;
  border: 1px #dadada solid;
  width: 100%;
   background-color: #fff
}

#checkboxes label {
  display: block;
  padding-left: 10px;
  margin-bottom: 0
}

#checkboxes label:hover {
  background-color: #1e90ff;
}