<div class="row">
    <div class="col-sm-3">Change Search Parmas:</div>
    <div class="col-sm-9">Products List
    <hr>
    <div class="row mb-2" *ngFor='let product of products | slice: 0:20'>
      <div class="col-sm-3"><img [src]="product.thumbnailUrl"></div>
      <div class="col-sm-9">{{product.id}} - {{product.title}} </div>
    </div>
    <!--{{products}}
    <ul>
      <li *ngFor='let product of products'>
        {{product.id}}
      </li>
    </ul>
albumId:number,
  id:number,
  title:string,
  url:string,
  thumbnailUrl:string
    -->
    </div>
</div>

