<header id="header">
  <!--<img class="logo" src="src/assets/images/logo.png">-->
  <h1>
    <a href="/home" class="logo"><span>My Website </span><br> <small>GUI Angular 6</small></a>
  </h1>
  <div class="nav-modal">
    <div class="blob"></div>
    <nav id="nav">
      <ul>
        <li><a href="javascript:void(0)" class="dropmenu">HOME</a>
          <ul class="menu">
            <li><a href="#">STUFF</a></li>
            <li><a href="#">STUFF</a></li>
            <li><a href="#">STUFF</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" class="dropmenu">ABOUT</a>
          <ul class="menu">
            <li><a href="#">MORE STUFF</a></li>
            <li><a href="#">OTHER STUFF</a></li>
            <li><a href="#">TEST STUFF</a></li>
          </ul>
        </li>
        <li><a href="#">TRAVELS</a></li>
        <li><a href="javascript:void(0)" class="dropmenu">RECIPES</a>
          <ul class="menu">
            <li><a href="#">STUFF</a></li>
            <li><a href="#">STUFF sss</a></li>
            <li><a href="#">STUFF</a></li>
          </ul>
        </li>
        <li><a href="#">CONCEPTS</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="/login">LOGIN</a></li>
      </ul>
    </nav>
  </div>
  <div class="head">
    <a href="#" class="tile socialmedia"><i class="fa fa-facebook-official"></i></a>
    <a href="#" class="tile socialmedia"><i class="fa fa-instagram"></i></a>
    <a href="#" class="tile socialmedia"><i class="fa fa-twitter-square"></i></a>
    <div class="tile burger">
      <div class="meat">
        <div class="line one"></div>
        <div class="line two"></div>
        <div class="line three"></div>
      </div>
    </div>
  </div>
</header>