<header id="header">
    <div class="container-fluid">

        <div id="logo" class="pull-left">
            <h1>
                <a href="#intro" class="scrollto">
                    <img src="" alt="">
                    <div class="titre-logo">Elyes <small>My Gui 2018</small></div>
                </a>

            </h1>
        </div>

        <nav id="nav-menu-container" class="news-slider-item">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Home</a></li>
                <li><a href="#Infos">Infos & Actualités</a></li>
                <li><a href="#souhail">Bibliographie</a></li>
                <!--<li><a href="#services">Services</a></li>-->
                <li class="menu-has-children"><a href="javascript:void(0)">La Préparation physique</a>
                    <ul>
                        <li><a href="#crossFit">CrossFit</a></li>
                        <li><a href="#aerobie">Aérobie</a></li>
                        <li><a href="#proprioception">La Proprioception</a></li>
                        <li><a href="#gainage">Gainage</a></li>
                        <li><a href="#bandeElastique">Bande Elastique</a></li>
                        <li><a href="#forceMusculaire">Force Musculaire</a></li>
                        <li><a href="#laRecuperation">la récupération</a></li>
                    </ul>
                </li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>